:root{
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #293449;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #FFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-lightgrey: #EAEAEA;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --mistake: #BA2732;
}

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  height: 100%;
}

img{
  max-width: 100%
}

a{
  text-decoration: none
}

.hidden{
  display: none;
}

header{
  background-color: var(--basic-background);
  padding-bottom: 60px;

}

.center-wrapper{
  margin: 0 auto;
  width: 100vw;
}

main{
  display: flex;
  justify-content: center;
}

.top-header{
  position: relative;
  background-color: var(--basic-grey);
  display: flex;
  align-items: center;
  max-height: 43px;
  overflow: visible;
}

.top-header-wrapper,
.bottom-footer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-grey);
}

.ui-header-wrapper,
.top-footer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 542px;
  background-color: var(--basic-background);
}

.about-good-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 59px;
  background-color: var(--basic-background);
  padding-top: 30px;
  padding-bottom: 68px;
  margin-bottom: -0px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-header a,
.header-nav a{
  text-decoration: none;
  color: var(--white);
}

.top-header .logo{ /* логотип */
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 24px;
  font-size: 21px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding-top: 14px;
  padding-bottom: 9px;
  letter-spacing: 1.29px;
  text-align: center;
  min-width: 220px;
  border-bottom: 5px solid #B52933;
}

.top-header .logo:active{
  background-color: #BA2732;
  border-color: #8D1E26;
}

.top-header .search-wrapper{
  width: 270px;
  height: 43px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.top-header .search-wrapper:focus-within{ /* ВОТ ТУТ КАКОЙ СЕЛЕКТОР ПРОПИСАТЬ? */
  background-color: white;
}

.search-field input{ /* поиск в header */
  background-color: transparent;
  border: none;
  color: white;
  width: 225px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  outline: none;
  -webkit-appearance: none;
  margin-top: 3px;
}

.search-field p::before{
  display: inline-block;
  vertical-align: baseline;
  content: "";
  width: 17px;
  height: 17px;
  margin-bottom: -2px;
  margin-right: 6px;
  margin-left: 17px;
  background: url("../img/icon-search.svg")
}

.search-field:hover > p::before{
  background: url("../img/icon-search-hover.svg")
}

.search-field input::-webkit-input-placeholder{
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.search-wrapper:focus-within > .search-field p::before{
  background: url("../img/icon-search-active.svg")
}

.search-field input:focus::-webkit-input-placeholder,
.search-field input:focus{
  color: black;
}

.top-header .header-goods{ /* закладки, корзина, оформить заказ */ /* BUG: Появляется box-shadow при наведении на элементы */
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.header-goods a{
  display: block;
  width: 150px;
  height: 43px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 11px;
}

.header-goods a:first-of-type{
  padding-right: 3px;
}

.header-goods a:active{
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.header-goods .marked::before{
  display: inline-block;
  vertical-align: baseline;
  content: "";
  width: 14px;
  height: 16px;
  margin-bottom: -2px;
  margin-right: 10px;
  margin-left: -1px;
  background: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.marked:hover::before{
  opacity: 1;
}

.marked:active::before{
  opacity: 0.3;
}

.header-goods .chosen-products::before{
  display: inline-block;
  vertical-align: baseline;
  content: "";
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
  margin-right: 8px;
  background: url("../img/icon-cart.svg")
}

.chosen-products:hover::before{
  background: url("../img/icon-cart-hover.svg")
}

.header-goods .chosen-products:active::before{
  opacity: 0.3;
}

.header-goods .confirm{
  background-color: var(--basic-green);
  padding-left: 19px;
  padding-right: 16px;
}

.top-header .confirm:hover{
  background-color: var(--success);
}

.ui-header{
  margin-left: 30px;
  display: inline-flex;
  align-items: center;
}

.description p{ /* описание */
  font-family: "Cuprum", "Arial", sans-serif;
  max-width: 197px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin-right: 93px;
  margin-top: 45px;
}

.ui-header .contacts{ /* телефон и адрес */
  text-align: center;
  min-width: 270px;
  margin-top: 36px;
  margin-right: 64px;
  margin-bottom: -13px;
}

.ui-header .phone{
  display: block;
  border: 3px solid var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: #F3F7F9;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-bottom: -12px;
  color: var(--basic-red);
  text-decoration: none;
}

.phone::before{
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.svg");
  margin-bottom: -2px;
  margin-right: 16px;
}

.contacts p{
  display: inline-block;
  vertical-align: baseline;
  min-width: 251px;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
}

.header-nav{ /* навигация */
  background-color: #32425C;
  text-align: center;
  width: 940px;
  border-bottom: 5px solid #293449;
  margin-top: 28px;
}

.header-nav{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  height: 60px;
  padding-top: 3px;
}

.header-nav a{
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  height: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 1;
  box-sizing: border-box;
}

.header-nav a:hover{
  background-color: #293449;
}

.header-nav a:first-child{
  padding-left: 23px;
}

.header-nav a:last-child{
  padding-right: 23px;
}

.user-reg{
  margin-bottom: -13px;
}

.user-reg a{ /* войти и регистрация */
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.user-reg .log-in{
  margin-right: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 27px;
  max-width: 49px;
}

.user-reg .log-in::before{
  display: inline-block;
  vertical-align: baseline;
  content: "";
  width: 20px;
  height: 17px;
  background: url("../img/icon-login.svg") no-repeat center;
  margin-bottom: -2px;
  margin-right: 6px;
}

.user-reg .reg{
  padding: 12px 24px;
  max-width: 102px;
}

.user-reg a:hover{
  color: var(--basic-red);
}

.user-reg .log-in:hover::before{
  background: url("../img/icon-login-hover.svg") no-repeat center;
}

.user-reg a:active{
  color: #C5C5C5;
}

.user-reg .log-in:active::before{
  background: url("../img/icon-login.svg") no-repeat center;
}

.main-catalog{
  margin-top: 59px;
  width: 940px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 123px 123px 123px;
}

.main-catalog .catalog-item{ /* грид раскладка */
  position: relative;
  color: white;
}

.catalog-item h3{
  display: block;
  color: white;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-left: 23px;
  margin-bottom: 13px;
  margin-top: 21px;
  letter-spacing: 0.6px;
}

.catalog-item a{
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  width: 135px;
  max-height: 38px;
  text-align: center;
  padding: 10px 0;
  margin-left: 23px;
}

.main-catalog .material{
  background: url("../img/bucket.png") 213px 31px no-repeat;
  background-color: var(--special-yellow);
}

.main-catalog .delivery{
  background: url("../img/car-delivery.png") 191px 32px no-repeat;
  background-color: var(--special-yellow);
  grid-column: 3/4;
}

.main-catalog .tools{
  background: url("../img/screwdriver.png") 194px 34px no-repeat;
  background-color: var(--special-blue);
}

.main-catalog .devices{
  background: url("../img/traktor.png") 191px no-repeat;
  background-color: var(--special-lilac);
}

.main-catalog .discount{
  background: url("../img/shop.png") 196px no-repeat;
  background-color: var(--special-greenlight);
  grid-column: 3/4;
  grid-row: 2/3;
}

.material a,
.delivery a,
.tools a,
.devices a,
.discount a{
  background-color: rgba(255, 255, 255, 0.3);
}

.material a:hover,
.delivery a:hover,
.tools a:hover,
.devices a:hover,
.discount a:hover{
  background-color: rgba(197, 197, 197, 0.3);
}

.material a:active,
.delivery a:active,
.tools a:active,
.devices a:active,
.discount a:active{
  background-color: rgba(169, 169, 169, 0.3);
}

.main-catalog .slider-box{
  grid-column: 1/3;
  grid-row: 2/4;
  margin-top: -30px;
}

.main-catalog .screwdriver{
  background-color: var(--basic-grey);
  background: url("../img/slider-screwdriver.jpg") no-repeat;
  padding-bottom: 30px;
}

.main-catalog .perforator{
  background-color: var(--basic-grey);
  background: url("../img/slider-screw.jpg") no-repeat;
  padding-bottom: 30px;
}

.slider-header h2{
  color: white;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding-top: 23px;
  margin-left: 24px;
  margin-bottom: 8px;
}

.slider-header h4{
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-left: 24px;
  margin-top: 0px;
}

.slider .arrow{
  vertical-align: baseline;
  width: 22px;
  height: 20px;
  margin-top: 7px;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
}

.slider .back{
  background: url("../img/icon-left.svg") no-repeat;
  margin-right: 506px;
}

.slider .forward{
  background: url("../img/icon-right.svg") no-repeat;
}

.slider .catalog-button{
  margin-top: 36px;
  width: 192px;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.slider .radio-slide{
  position: absolute;
  top: 215px;
  left: 290px;
}

.custom-radio{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio+label{
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before{
  content: '';
  display: inline-block;
  vertical-align: baseline;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #fff;
}

.custom-radio.checked+label::before{
background-color: red;
}

.popular-good .goods-catalog{ /* товар */
  display: flex;
  max-width: 940px;
  justify-content: space-between;
  margin-top: 20px;
}

.item-hover .buy-button{
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 135px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 7px;
  border-bottom: 3px solid #367315;
  background: #63A63E;
  margin-bottom: 10px;
  padding-left: 9px;
}

.item-hover .buy-button:hover{
  background-color: #5FBB2D;
}

.item-hover .buy-button:active{
  background-color: #518534;
}

.item-hover .buy-button::before{
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  width: 15px;
  height: 15px;
  background: url("../img/buy-button-cart.svg") no-repeat center;
}

.item-hover .choose-button{
  box-sizing: border-box;
  width: 135px;
  color: white;
  text-align: center;
  border: 3px solid #63A63E;
  color: #32425C;
  padding-top: 8px;
  padding-bottom: 6px;
}

.item-hover .choose-button:hover{
  border-color: #32425C;
}

.item-hover .choose-button:active{
  border-color: #98A0AD;
  color: #98A0AD;
}

.goods .item-hover{
  display: none;
}

.goods{
  position: relative;
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  overflow: hidden;
}

.goods h4{
  display: block;
  margin-top: 0;
  width: 185px;
  text-align: center;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 7px;
}

.good-img-container{
  display: flex;
  height: 164px;
  width: 220px;
  margin-top: 6px;
  justify-content: center;
  align-items: center;
}

.goods .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 118px;
  margin-top: 8px;
}

.goods .old-price{
  display: block;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
  text-decoration: line-through;
  margin-bottom: 13.14px;
}

.goods .new-price{
  position: relative;
  display: block;
  font-family: 'PT Sans', "Arial", sans-serif;
  width: 121px;
  height: 30px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  background: var(--basic-red);
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

.goods .new-price::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 121px;
  border: 20px solid transparent;
	border-left: 20px solid var(--basic-red);
}

.goods:hover > .good-img-container{
  display: none;
}

.goods:hover{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.goods:hover > .item-hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 164px;
  width: 220px;
  margin-top: 6px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

main .block-header{ /* популярные производители */
  background-color: #F9F5F0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 940px;
  margin-top: 70px;
}

.block-header h2{
  display: block;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
  padding-left: 28px;
  flex-grow: 1;
}

.block-header a{ /* все популярные производители */
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  max-height: 38px;
  width: 192px;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: #fff;
  margin-right: 14px;
}

.popular-developers .developers{ /* товар */
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.developers .dev{
  margin-bottom: 20px;
  width: 220px;
  height: 145px;
  max-height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
}

.developers .dev:hover{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.developers .dev:active{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.services{
  background-color: var(--basic-background);
  padding-top: 43px;
}

.services h2{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.services>p{
  width: 396px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services .slider{ /* второй слайлер */
  display: flex;
  position: relative;
  width: 940px;
  height: 329px;
  margin-top: 21px;
}

.slider .menu{
  position: relative;
  font-family: 'Cuprum', "Arial", sans-serif;
  padding-top: 49px;
  padding-bottom: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  min-width: 240px;
}

.slider .menu::after{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/shadow.png") no-repeat center right;
  content: "";
  width: 10px;
  height: 279px;
}

.service-item{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.service-item+label{
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 218px;
  height: 62px;
  flex-shrink: 0;
  flex-grow: 0;
  color: white;
  background-color: #32425C;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  padding-left: 22px;
}

.service-item+label:hover{
  background-color: #293449;
}

.service-item:checked+label{
  color: #32425C;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: white;
}

.slider .slider-items{
  margin-left: 80px;
  margin-top: 18px;
  max-width: 619px;
  margin-bottom: 4px;
}

.slider-items article{
  min-width: 619px;
  height: 283px;
  overflow: hidden;
}

.slider-items h2{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
}

.slider-items p{
  max-width: 340px;
  margin-top: 30px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.slider-items .deliverry{
  background: url("../img/delivery.png") no-repeat right 50px;
}

.slider-items .guarantee{
  background: url("../img/guarantee.png") no-repeat right 50px;
}

.slider-items .credit{
  background: url("../img/credit.png") no-repeat right 50px;
}

.about-us{
  display: flex;
  margin-top: 50px;
  margin-bottom: 70px;
}

.about-us .company{
  margin-right: 161px;
}

.about-us h2{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about-us p{
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company .company-description{
  width: 478px;
  margin-bottom: -20px;
  margin-top: 9px;
}

.company-description p:first-of-type{
  margin-bottom: 27px;
}

.company .delivery-companies{
  margin-top: -15px;
  list-style: none;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}

.delivery-companies li{
  background: url("../img/li-decoration.png") no-repeat left 14px;
  margin-left: -40px;
  padding-left: 37px;
  margin-bottom: 12px;
}

.company a{
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 9px;
  width: 220px;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: #fff;
}

.contact p{
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 180px;
  margin-bottom: 32px;
  color: black;
}

.about-us .map{
  margin-bottom: 17px;
}

.about-us .write-us{
  display: inline-block;
  vertical-align: baseline;
  padding-top: 13px;
  padding-bottom: 10px;
  width: 300px;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

footer{
  background-color: #32425C;
}

.top-footer{
  display: flex;
  max-width: 940px;
}

.top-footer .top-left-footer-part{
  min-width: 324px;
  margin-right: 0;
}

.top-left-footer-part .logo{ /* логотип */
  position: relative;
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 30px;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  padding: 20px 41px;
  padding-bottom: 14px;
  max-width: 137px;
  margin-bottom: 22px;
  border-bottom: solid 5px #B52933;
  z-index: 1;
}

.top-left-footer-part .address{
  color: white;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 54px;
}

.top-footer .footer-nav{
  display: block;
  margin-top: 20px;
  margin-left: 29px;
}

.footer-nav ul{
  list-style: none;
  display: flex;
}

.first-nav{
  margin-bottom: 34px;
}

.first-nav a{
  color: white;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-right: 59px;
}

.first-nav li:hover > a{
  border-bottom: solid 1px white;
}

.second-nav a{
  color: #FFD180;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-right: 59px;
}

.second-nav li:hover > a{
  border-bottom: solid 1px #FFD180;
}

.footer-nav li:active > a{
  opacity: 0.5;
}

.footer-nav li:active > a{
  border-bottom: none;
}

.footer-nav .second-nav{
  margin-left: 24px;
}

.bottom-footer{
  max-width: 940px;
  position: relative;
  padding-top: 34px;
  padding-bottom: 29px;
  background-color: var(--basic-grey);
  display: flex;
}

.bottom-footer .copyright{
  color: white;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-right: 158px;
  margin-left: 0px;
}

.bottom-footer .social-media{
  margin-right: 118px;
}

.social-media a{
  display: inline-block;
  vertical-align: baseline;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-media a:first-child{
  background: #212A3A url("../img/icon-vk.svg") no-repeat center;
}

.social-media a:nth-child(2){
  margin-left: -2px;
  margin-right: -2px;
  background: #212A3A url("../img/icon-fb.svg") no-repeat center;
}

.social-media a:last-child{
  background: #212A3A url("../img/icon-insta.svg") no-repeat center;
}

.social-media a:hover,
.social-media a:active{
  background-color: #EE3643;
}

.bottom-footer .feedback-contacts{
  width: auto;
  height: 37px;
}

.bottom-footer .feedback{
  display: inline-block;
  vertical-align: baseline;
  color: white;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-right: 51px;
}

.feedback a{
  color: #FFD180;;
}

.bottom-footer .designed-by{
  display: inline-block;
  vertical-align: baseline;
  color: white;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.designed-by a{
  color: #FFD180;
}

.feedback-contacts a:hover{
  border-bottom: 1px solid #FFD180;
}

.feedback-contacts a:active{
  color: #EE3643;
  border: none;
}

.services-wrapper{
  position: relative;
  width: 100%;
  max-height: 522px;
}

/* catalog.html */

.catalog-fix{
  margin-left: -2px;
}

.catalog-chosen-products{
  display: inline-block;
  vertical-align: baseline;
  box-sizing: border-box;
  width: 142px;
  background-color: var(--basic-red);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  padding-right: 6px;
  margin-right: -5px;
}

.user-profile{
  margin-left: -15px;
  margin-top: 33px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile .user{
  width: 299px;
  max-height: 45px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user h3:active{
  color: #C5C5C5;
}

.user h3{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
}

.user .profile{
  display: block;
  width: 20px;
  height: 18px;
  background: url("../img/icon-user.svg") no-repeat center;
  margin-right: 21px;
}

.user .quit{
  display: block;
  width: 20px;
  height: 17px;
  background: url("../img/icon-logout.svg") no-repeat center;
  margin-left: 20px;
}

.user .profile:hover{
  background-image: url("../img/icon-user-hover.svg")
}

.user .quit:hover{
  background-image: url("../img/icon-logout-hover.svg")
}

.user .profile:active{
  background-image: url("../img/icon-user.svg")
}

.user .quit:active{
  background-image: url("../img/icon-logout.svg")
}

.user-links{
  width: 210px;
  max-height: 18px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-links:hover > .order-list::after{
  background-color: var(--basic-red);
}

.user-links a{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.user-links a:hover{
  color: var(--basic-red);
}

.user-links:active > a{
  color: #C5C5C5;
}

.user-links:active > .order-list::after{
  background-color: #C5C5C5;
}

.user-links .order-list::after{
  display: inline-block;
  vertical-align: baseline;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #32425C;
  margin-bottom: 2px;
  margin-left: 14px;
  margin-right: 12px;
}

.inner-page-nav{
  margin-top: 21px;
  max-width: 357px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inner-page-nav a{
  position: relative;
  color: #000;
  text-decoration: none;
  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.inner-page-nav img{
  margin-bottom: -1px;
}

.inner-page-nav a:not(.not-visible-after)::after{
  display: inline-block;
  vertical-align: baseline;
  content: "";
  background: url("../img/icon-right-small.svg") no-repeat center;
  width: 12px;
  height: 8px;
  margin-left: 12px;
}

.catalog .title-wrapper{
  max-width: 911px;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: var(--basic-background);
}

.title-wrapper .main-catalog-title{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  text-transform: uppercase;
}

.catalog .separator-wrapper{
  display: flex;
  margin-top: 20px;
}

.separator-wrapper .filter-side{
  max-width: 220px;
  margin-right: 20px;
  overflow: hidden;
}

.filter-catalog fieldset {
   border: none;
   margin-left: -12px;
}

.filter-side .filter-title{
  position: relative;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  background: #F7F3EC;
  height: 28px;
  padding-top: 10px;
  padding-left: 18px;
  margin-top: 0px;
  margin-bottom: 14.15px;
  border-radius: 1px;
}

.filter-side legend{
  display: block;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-side legend:first-child{
  margin-bottom: 10.85px;
}

.filter-side legend:last-child{
  letter-spacing: 0.0484964px;
}

.filter-catalog fieldset:not(:last-of-type){
  border-bottom: 1px solid #EAEAEA;
}

.price-filter img{
  display: block;
  padding: 39px 20px;
  background: #F7F3EC;
  margin-bottom: 9px;
  position: relative;
  border-radius: 2px;
}

.price-filter .img-container{
  position: relative;
}

.price-filter .img-container::before{
  display: block;
  content: "";
  position: absolute;
  top: 29px;
  left: 18px;
  width: 20px;
  height: 22px;
  z-index: 2;
  background: url("../img/filter-button.png") center;
}

.price-filter .img-container::after{
  display: block;
  content: "";
  position: absolute;
  top: -60px;
  left: 160px;
  width: 20px;
  height: 22px;
  z-index: 2;
  background: url("../img/filter-button.png") center;
}

.price-filter .input-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.price-filter input{
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: 10px 0;
  width: 95px;
  background: #F7F3EC;
  outline: none;
  border: none;
  text-align: center;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  border-radius: 2px;
}

.price-filter .dash-after{
  display: block;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
  width: 30px;
  height: 18px;
  text-align: center;
}

.filter-side .company-filter{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.custom-check{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-check+label{
  margin-bottom: 20.5px;
  position: relative;
  margin-left: 32px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
}

.custom-check+label:last-child{
  margin-bottom: 17px;
}

.custom-check+label::before{
  display: inline-flex;
  position: absolute;
  top: -3px;
  left: -32px;
  content: "";
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 23px;
  flex-shrink: 0;
  flex-grow: 0;
  color: white;
  height: 23px;
  background: url("../img/checkbox-off.svg") center no-repeat;
}

.custom-check:checked+label::before{
  width: 27px;
  background: url("../img/checkbox-on.svg") center no-repeat;
}

.filter-side .charge-type-filter{
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.custom-radio-button{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio-button+label{
  margin-bottom: 22.5px;
  position: relative;
  margin-left: 35px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
}

.custom-radio-button+label::before{
  display: inline-flex;
  position: absolute;
  top: -2.5px;
  left: -34px;
  content: "";
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  color: white;
  height: 25px;
  background: url("../img/radio-off.svg") center;
}

.custom-radio-button:checked+label::before{
  background: url("../img/radio-on.svg") center;
  margin-right: 10px;
}

.custom-check:disabled + label,
.custom-radio-button:disabled + label{
  opacity: 0.4;
}

.filter-side button{
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  border: 1px solid #E5E5E5;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
}

.goods-side .small-filter{
  position: relative;
  min-width: 700px;
  max-height: 38px;
  background-color: #F7F3EC;
  margin-top: 0px;
  display: flex;
  align-items: center;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.small-filter h4{
  font-weight: normal;
  margin-left: 19px;
  margin-right: 140px;
}

.small-filter .filter-item{
  color: #ADAAA5;
  border-bottom: dotted red 1px;
  cursor: pointer;
}

.small-filter .price-filter{
  margin-right: 70px;
}

.small-filter .type-filter{
  margin-right: 65px;
}

.small-filter .function-filter{
  margin-right: 46px;
}

.small-filter .active{
  color: var(--basic-red);
  border: none;
}

.small-filter .filter-item:hover{
  border-bottom: solid red 1px;
  color: black;
}

.small-filter .up-icon{
  width: 11px;
  height: 10px;
  margin-right: 21px;
  background: url("../img/icon-up-dir.svg");
}

.small-filter .down-icon{
  width: 11px;
  height: 10px;
  background: url("../img/icon-down-dir.svg");
}

.small-filter .down-icon:hover{
  background: url("../img/icon-down-dir-hover.svg")
}

.small-filter .up-icon:hover{
  background: url("../img/icon-up-dir-hover.svg")
}

.goods-side .good-cards{
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
}

.good-cards .goods:not(:nth-child(3n)){
  margin-right: 17px;
}

.good-cards .goods{
  margin-bottom: 18px;
}

.goods-side .page-search{
  margin-top: 48px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-search .page-number{
  padding: 10px 15px;
  border: 1px solid #E5E5E5;
  margin-right: 10px;
  border-radius: 1px;
  color: black;
}

.page-search .page-number:active{
  border-color: var(--basic-red);
}

.page-search .active{
  border: none;
  background-color: var(--basic-red);
  color: white;
}

.page-search .next-page{
  border: 1px solid #E5E5E5;
  padding: 10px 32px;
  cursor: pointer;
}

.about-good{
  position: relative;
}

.about-good h2{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-good .good-description{
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.top-header .chosen-products-catalog{
  padding-right: 23px;
}

.red-button:active{
  background-color: #BA2732;
  outline: none;
}

.write-us-popup{
  position: fixed;
  width: 620px;
  left: 50%;
  margin-left: -310px;
  top: 50%;
  margin-top: -235px;
  z-index: 15;
}

.write-us-form{
  position: relative;
  box-sizing: border-box;
  padding: 0 80px;
  padding-top: 46px;
  padding-bottom: 37px;
  width: 620px;
  background: linear-gradient(#FF5257 1.6%, #FFF 1.6% 73.95%, #F4F4F4 73.95% 100%);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
}

.write-us-form label{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 11px;
}

.quit-button{
  position: absolute;
  top: 14px;
  right: 5px;
  background: none;
  border: none;
  outline: none;
}

.write-us-item{
  display: flex;
  flex-direction: column;
  min-width: 220px;
  margin-bottom: 13px;
  flex-grow: 1;
}

.write-us-item:first-of-type{
  margin-right: 20px;
}

.write-us-item:nth-of-type(3){
  width: 460px;
  margin-bottom: 94px;
}

.user-message,
.user-name,
.user-email{
  border: 2px solid #C5C5C5;
  border-radius: 2px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.user-message:focus,
.user-name:focus,
.user-email:focus{
  outline: 2px solid var(--basic-red);
}

.user-name,
.user-email{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.user-message{
  padding-top: 6.29px;
  padding-left: 12px;
  padding-bottom: 85.71px;
  resize: none;
}

.send-message-button{
  padding-top: 11px;
  padding-bottom: 9px;
  padding-right: auto;
  padding-left: auto;
  background-color: var(--basic-red);
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}

.map-popup{
  position: fixed;
  box-sizing: border-box;
  border-top: 7px solid var(--basic-red);
  width: 943px;
  height: 449px;
  top: 50%;
  margin-top: -221px;
  left: 50%;
  margin-left: -471.5px;
  z-index: 15;
  animation: map-popup-animation 0.6s ease-in-out;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.75);
}

.new-good-mark{
  position: absolute;
  top: -999px;
  right: -999px;
}

.new .new-good-mark{
  width: 67px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 8px;
  transform: rotate(45deg);
  text-align: center;
  background-color: var(--basic-red);
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  line-height: 18px;
  top: 10px;
  right: -29px;
}

.content .empty{
  font-size: 0;
}

.chosen-product-popup{
  position: fixed;
  top: 50%;
  margin-top: -141px;
  left: 50%;
  margin-left: -310px;
  border-top: 7px solid var(--basic-red);
  width: 620px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  z-index: 15;
}

.chosen-product-popup .top-part{
  display: flex;
  height: 163px;
  justify-content: center;
  align-items: center;
  background: url("../img/icon-mark.svg") no-repeat 81px center;
  background-color: white;
  z-index: 100;
}

.chosen-product-popup h1{
  font-family: 'Cuprum', "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

.chosen-product-popup .bottom-part{
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
}

.chosen-product-popup button{
  box-sizing: border-box;
  width: 192px;
  height: 38px;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: auto;
  border: none;
  outline: none;
  background-color: white;
}

.chosen-product-popup .quit-button{
  width: auto;
  margin-top: -8px;
}

.chosen-product-popup .confirm{
  margin-right: 10px;
  background-color: var(--basic-red);
  color: white;
}

.chosen-product-popup .confirm:hover{
  border: 2px solid black;
}

.chosen-product-popup .continue:hover{
  border: 2px solid var(--basic-red);
}

.chosen-product-popup .confirm:active{
  background-color: #BA2732;
}

.chosen-product-popup .continue:active{
  background-color: #efefef;
}

@keyframes map-popup-animation {
  0% {top: 0;}
  50% {top: 60%;}
  70% {top: 40%;}
  85% {top: 55%;}
  100% {top: 50%;}
}
